<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>What is Happening?</h1>
    <div>
        <form method="post" action="posts">
            <input type="text" name="username" placeholder="username"> <br><br>
            <textarea name="content" rows="10" cols="20" id="" placeholder="What is happening?"></textarea>
      <br><br>  <button>Submit</button>
        </form>
    </div>
</body>
</html>